<div class="page-header">
  <h1>Task Haver #<%= @task_haver.id %></h1>
</div>

<dl class="dl-horizontal">
  <dt>First name</dt>
  <dd><%= @task_haver.first_name %></dd>

  <dt>Last name</dt>
  <dd><%= @task_haver.last_name %></dd>

  <dt>Address</dt>
  <dd><%= @task_haver.address %></dd>

  <dt>Image</dt>
  <dd><%= @task_haver.image %></dd>

  <dt>Email</dt>
  <dd><%= @task_haver.email %></dd>

  <dt>Cell phone</dt>
  <dd><%= @task_haver.cell_phone %></dd>

</dl>

<h3>Active</h3>
<ul>
  <% @task_haver.chores.where(:active => true).each do |chore| %>
    <li><%= chore.description_of_chore %></li>
  <% end %>
</ul>

<h3>Inactive</h3>
<ul>
  <% @task_haver.chores.where(:active => false).each do |chore| %>
    <li><%= chore.description_of_chore %></li>
  <% end %>
</ul>
