<div class="page-header">
  <h1>Editing Chore: <%= @chore.type_of_chore.name%> (<%= @chore.task_haver.full_name %>)</h1>
</div>

<%= form_tag(chore_url(@chore), method: 'patch', class: 'form-horizontal') do %>
  <div class="form-group">
    <%= label_tag :task_haver_id, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= select_tag :task_haver_id, options_from_collection_for_select(TaskHaver.all,:id,:full_name, @chore.task_haver.full_name), class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">

    <%= label_tag :student_id, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <% if @chore.student != nil %>
          <%= text_field_tag :student_id, @chore.student.full_name, disabled: true, class: 'form-control' %>
          <% else %>
            None Assigned
          <% end %>

    </div>
  </div>

  <div class="form-group">
    <%= label_tag :type_of_chore_id, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
     <%= select_tag :type_of_chore_id, options_from_collection_for_select(TypeOfChore.all, :id, :name, @chore.type_of_chore.name), class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :description_of_chore, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= text_field_tag :description_of_chore, @chore.description_of_chore, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :review_of_student, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
    <% if @chore.student.present? == true %>
      <%= text_field_tag :review_of_student, @chore.review_of_student, class: 'form-control' %>
    <% else %>
      <%= text_field_tag :review_of_student, @chore.review_of_student, disabled: true, class: 'form-control' %>
    <% end %>
    </div>
  </div>


  <div class="form-group">
    <%= label_tag :ask_price, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= text_field_tag :ask_price, @chore.ask_price, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :price, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= text_field_tag :price, @chore.price, disabled: true, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :complete_by, nil, class: 'col-md-2 control-label' %>
   <div class="col-md-6">
   <% if @chore.complete_by != nil %>
      <%= text_field_tag :complete_by, @chore.complete_by.strftime('%Y/%m/%d'), class: 'form-control' %>
    <% else %>
      <%= text_field_tag :complete_by, nil, placeholder: "YYYY/MM/DD
      ", class: 'form-control' %>
    <% end %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :active, 'Accepted', class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= check_box_tag :active, 1, @chore.active?, disabled: true %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-md-offset-2 col-md-6">
      <%= submit_tag "Update Chore", class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>
